*                                               @BaekSeongJun
/src/main/java/com/helpnest/domain/ticket/      @totot03
/src/main/java/com/helpnest/domain/assignment/  @totot03
/src/main/java/com/helpnest/domain/sla/         @totot03
/src/main/java/com/helpnest/domain/notification/ @totot03
/src/main/java/com/helpnest/domain/chat/        @totot03
/src/main/java/com/helpnest/global/websocket/   @totot03
/src/main/resources/application-ws.yml          @totot03
/src/main/java/com/helpnest/domain/ai/          @s-sujin-99
/src/main/java/com/helpnest/domain/dashboard/   @s-sujin-99
/src/main/java/com/helpnest/domain/report/      @s-sujin-99
/src/main/java/com/helpnest/infra/              @s-sujin-99
/src/main/resources/application-ai.yml          @s-sujin-99
/src/main/resources/application-aws.yml         @s-sujin-99
/src/main/resources/application-prod.yml        @s-sujin-99
/deploy/                                        @s-sujin-99
/src/main/resources/templates/mail/             @s-sujin-99
/.github/workflows/                             @s-sujin-99
